<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name = "keywords" content = "Romania, andrea, croseta, lana, crosetat,
        tricotat, fiber arts, fiber shop, accesorii, creatie, diy, small business">
       <meta name = "description" content = "Magazin pentru pasionatii de lucru manual cu fibra. 
       Lana, andrele, crosete, accesorii si inspiratie.">
        <title> Knit Wit</title>
        <link rel="stylesheet" type="text/css" href="/resurse/css/eroare.css">
        <%- include("../fragmente/head.ejs");  %> 

    </head>
    <body>
        
    <%- include("../fragmente/header.ejs");  %> 

    <main>
        <div id="err-coloane">
			<div id="err-imag">
				<img src="<%- locals.imagine %>" />
			</div>
			<section>
				<h2><%- locals.titlu %></h2>
				<p><%- locals.text %></p>
			</section>
		</div>
    </main>
    
    <%- include("../fragmente/footer.ejs");  %> 


    </body>
</html>