<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name = "keywords" content = "Romania, andrea, croseta, lana, crosetat,
        tricotat, fiber arts, fiber shop, accesorii, creatie, diy, small business">
       <meta name = "description" content = "Magazin pentru pasionatii de lucru manual cu fibra. 
       Lana, andrele, crosete, accesorii si inspiratie.">
        <title> Knit Wit</title>
        <link href="/resurse/css/produse.css" type="text/css" rel="stylesheet" />
        <%- include("../fragmente/head") %>     
        <script type="text/javascript" src=/resurse/js/produse.js></script>


    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>

        <div class="mx-2" id="inp-categorie"> Categorie:<!-- trebuie sa aiba acelasi name ca sa formeze un grup -->
            <label>Lana
                <input id="i_rad1"  name="gr_rad" value="lana" type="radio"/>
            </label>
            <label>Accesorii
                <input id="i_rad2"  name="gr_rad" value="accesorii" type="radio"/>
            </label>
            <label>Toate
                <input id="i_rad3" name="gr_rad" value="toate" checked="true" type="radio"/>
            </label>

            <label class="mx-2"> Nume: <input type="text" id="inp-nume"></label>


        </div>
<br>

        <div>
            <label class="my-2"> Cuvant Cheie:</label>
            <textarea  type="text" rows="1" id="inp-descriere"></textarea>
        <label class="mx-2">
            Doar cele spalabile la masina
            <input id="i_check1" name="name_spalabil" type="checkbox">
            Doar cele potrivite pentru sosete 
            <input id="i_check2" name="name_sosete" type="checkbox">
        </label>
        
        </div>
<br>    
        <div class="d-flex justify-content-left">
        <label class="mx-2">Grosime:
            <input list="id_lista" id="i_datalist">
            <datalist id="id_lista">
                <option name="interval" value="0:3">0:3</option>
                <option name="interval" value="3:6">3:6</option>
                <option name="interval" value="6:9">6:9</option>
                <option name="interval" value="9+">9+</option>

            </datalist>
        </label>

        
        <label> Pret minim: <input type="range" id="inp-pret" value="0" min="0"  max="<%-locals.pretMax%>" step=""> <span id="infoRange">(0)</span></label>


        <label class="mx-2">Select simplu:
            <select id="inp-brand">
                <option id="sel-toate" selected value="toate">toate</option>
                <% for (let opt of locals.branduri) { %>
                    <option value="<%- opt.unnest %>"><%- opt.unnest %> </option>
                <% } %>
            </select>
        </label>

        <label class="compozitie mx-2"><id="comp">Compozitie:</id>
            <i class="fa-solid fa-caret-down"></i>
                <select id="inp-materiale" class="selectpicker" multiple>
                <option id="sel-multiplu-toate" selected >
                    toate
                </option>
                <% for (let opt of locals.compozitie) { %>
                    <option value="<%- opt.unnest %>"><%- opt.unnest %> </option>
                <% } %>
            </select>
        </label>
        </div>
<br>
        <p>

        <button id="filtrare">Filtreaza</button> 

        <button id="resetare">Reseteaza</button><br/>
        <button id="sortCrescNume">Sorteaza crescator dupa pret si nume</button>
        <button id="sortDescrescNume">Sorteaza descrescator dupa pret si nume</button>
        
        </p>
        <p id="p-suma">Apăsați Alt+"c" pentru suma preturilor produselor afișate. </p>
        <section id="produse">
            <h2>Produse</h2>
            <div class="grid-produse">
                <% for( let prod of locals.produse) { %>
                    <article class="produs" >
                        <h3 class="nume">artc-<%-prod.id%> Nume: <a href="/produs/<%-prod.id %>" ><span class="val-nume"><%- prod.nume%></span></a></h3>
                        <div class="info-prod">
                            <span id="coloana1">

                                <figure>
                                    <a href="/produs/<%-prod.id %>" ><img src="/resurse/imagini/produse/<%- prod.imagine %>" style="width:50%;height:auto;" alt="[imagine <%- prod.nume %>]" /></a>
                                </figure>
                                <ol class="lista_proprietati">
                                    <li class="pret"><span class="criteriu">Pret: </span><span class="val-pret"><%- prod.pret%> lei</span> </li>
                                    <li class="spalabil_la_masina"><span class="criteriu">Poate fi spalat la masina: </span><span class="val-spalabil_la_masina"><%- prod.spalabil_la_masina%></span></li>
                                    <li class="brand"><span class="criteriu">Brand: </span><span class="val-brand"><%- prod.brand%></span></li>
                                    <li class="compozitie1"><span class="criteriu">Compozitie:</span><span class="val-compozitie"> <%- prod.compozitie%></span></li>
                                    <!-- 15 Septembrie 2018 [Sambata] -->
                                    <%
                            zile=["Duminica","Luni","Marti","Miercuri","Joi","Vineri","Sambata"];
                            luni=["Ianuarie","Februarie","Martie","Aprilie","Mai","Iunie","Iulie","August","Septembrie","Octombrie","Noiembrie","Decembrie"];
                            sir_data=`${prod.data_adaugare.getDate()} ${luni[prod.data_adaugare.getMonth()]} ${prod.data_adaugare.getFullYear()} [${zile[prod.data_adaugare.getDay()]}]`
                            %>
                                    <li class="data"><span class="criteriu">Disponibil din: </span><span class="val-data"><time><%- sir_data %></time></span></li>
                                </ol>

                            </span>

                            <span id="coloana2">

                                <div class="descriere">Descriere: </span><span class="val-descriere"><%- prod.descriere%></div>
                                <div class="categorie">Categorie:<span class="val-categorie"><%- prod.categorie%></span></div> 

                            </span>
                            <li class="grosime"><span class="criteriu">Grosime: </span><span class="val-grosime"><%- prod.grosime%> mm</span></li>

                            <div class="gramaj"><span class="criteriu">Gramaj: </span><span class="val-gramaj"><%- prod.gramaj%> g</span></div>
                                                        <!-- da -->
                                                        <!-- da -->
                            <div class="pentru_sosete"><span class="criteriu">Pentru sosete: </span><span class="val-pentru_sosete"><%- prod.pentru_sosete%></span></div> 

                            <!-- da -->

                        
                        </div>
                        <!-- <label class="selecteaza-cos">
                            Selectează:<br/>
                            <input type="checkbox" class="select-cos" value="<%-prod.id %>" autocomplete="off">
                        </label> -->

                        <!-- style="display: none;" -->
                                                        <!-- <i class="fa-solid fa-thumbtack"></i> -->

                        <div id="butoane-filtrare">
                            <label class="buton1" id="a<%-prod.id%>" name="buton-pastrare">
                                <i class="icon-buton1 fa-solid fa-thumbs-up"></i>
                                <div id="text-buton1">Pastreaza produsul </br> indiferent de filtrare</div>
                                <input type="checkbox" style="display: none;">
                            </label>

                            <label class="buton2" id="a<%-prod.id%>"  name="stergere-filtrare">
                                <i id="icon-buton2" class="fa-solid fa-x"  ></i>
                                <div id="text-buton2">Elimina produsul </br> pentru aceasta filtrare</div>
                                <input  type="checkbox" style="display: none;">
                            </label>

                            <label class="buton3" id="a<%-prod.id%>"  name="stergere-sesiune">
                                <i id="icon-buton3" class="fa-solid fa-trash"  ></i>
                                <div id="text-buton3">Elimina produsul </br> pentru aceasta filtrare</div>
                                <input  type="checkbox" style="display: none;">
                            </label>

                        </div>
                        

                        
                    </article>
                <% }%>
            </div>
                <% 
                    nr_prod = locals.produse.length
                    prod_per_pg = 5;
                    nr_pg = Math.ceil(nr_prod/prod_per_pg)
                    
                    //generate the buttons
                    %>
                    <div id="buton_pagina" class="btn-group-toggle d-flex justify-content-center" data-toggle="buttons">
                    
                        <p>
                            <label class="btn btn-warning my-3 mx-2 pg-btn-sizes d-flex justify-content-center align-items-center">
                                1
                                <input style="display: none;" id="page_rad1" checked="true" name="pg_rad" type="radio"/>
                            </label>
                        </p>
                    <%
                        for(let pg_idx = 2; pg_idx <= nr_pg; pg_idx++){ %>
                            <p>
                                <label class="btn btn-warning my-3 mx-2 pg-btn-sizes d-flex justify-content-center align-items-center">
                                    <%-pg_idx%>
                                    <input style="display: none;" id="page_rad<%-pg_idx%>" name="pg_rad" type="radio"/>
                                </label>
                            </p>
                        <%}
                    %>
                    </div>
                    <%
                    
                %>

          
        </section>
    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>