<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name = "keywords" content = "Romania, andrea, croseta, lana, crosetat,
        tricotat, fiber arts, fiber shop, accesorii, creatie, diy, small business">
       <meta name = "description" content = "Magazin pentru pasionatii de lucru manual cu fibra. 
       Lana, andrele, crosete, accesorii si inspiratie.">
        <title> Knit Wit</title>
        <%- include("../fragmente/head") %>     
        <!-- <link href="/resurse/css/produs.css" type="text/css" rel="stylesheet" /> -->
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
        <section>
            <h2>Pagină produs</h2>
                <article id="art-produs">
                    <h3><span class="nume"><%- locals.prod.nume %></span></h3>
                    <p>Descriere: <span class="descriere"><%- locals.prod.descriere %> </span></p>
                    <p>Categorie: <span class="categorie"><%- locals.prod.categorie %> </span></p>
                    <p>Gramaj: <span class="gramaj"><%- locals.prod.gramaj %> </span></p>
                    <p>Pret: <span class="pret"><%- locals.prod.pret %> </span></p>
                    <p>Grosimea de andrele/crosete recomandata: <span class="grosime"><%- locals.prod.grosime %> </span></p>
                    <p>Data adăugare: <span class="data_adaugare"><%- locals.prod.data_adaugare %> </span></p>
                    <p>Brand: <span class="brand"><%- locals.prod.brand %> </span></p>
                    <p>Compozitie: <span class="compozitie"><%- locals.prod.compozitie %> </span></p>
                    <p>Potrivit pentru spalarea la masina: <span class="spalabil_la_masina"><%- locals.prod.spalabil_la_masina %> </span></p>
                    <figure class="imag-produs">
                        <img  src="/resurse/imagini/produse/<%- locals.prod.imagine %>" alt="[imagine <%- locals.prod.nume %>]" />
                    </figure>    
                </article>
            
        </section>
    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>